<mat-toolbar class="mat-elevation-z4 app-toolbar"  color="primary">
        <mat-icon>cloud_circle</mat-icon>
        <span style="margin-right: 30px">CloudExam</span>
        
            <a mat-flat-button color="primary" [routerLink]="['/products']" routerLinkActive="active-menu" >Products</a>
            <a mat-flat-button color="primary" [routerLink]="['/customers']" routerLinkActive="active-menu">Customers</a>
            <a mat-flat-button color="primary" [routerLink]="['/orders']" routerLinkActive="active-menu">Orders</a>

     
    </mat-toolbar>